In [1]:
import json

In [2]:
path = 'vendas.json'

In [3]:
def open_json(path):
    with open(path, 'r') as file:
        sales = json.load(file)
    return sales

In [26]:
dados = open_json(path)

In [18]:
year_manufacture = []

for i in dados:
    year = i["ano_fabricacao"]
    if year not in year_manufacture:
        year_manufacture.append(year)

In [24]:
year_manufacture.sort(reverse=False)

[2018, 2019, 2020, 2021, 2022, 2023]

In [31]:
for i in year_manufacture:
    print(f'Ano - {i}')
    for sales in dados:
        year = sales["ano_fabricacao"]
        if i == year:
            produto = sales["nome_produto"]
            marca = sales["marca"]
            valor = sales["valor_produto"]
            qtd_vendas = sales["qtd_vendas"]
            
            total_vendas = qtd_vendas * valor
            
            print(f'valor total de vendas do Produto: {produto} é R${total_vendas}')
    print('-' * 30)

Ano - 2018
valor total de vendas do Produto: Boné é R$3693.9
valor total de vendas do Produto: Tênis é R$1514.0
valor total de vendas do Produto: Camiseta é R$1748.7600000000002
valor total de vendas do Produto: Tênis é R$3527.48
valor total de vendas do Produto: Calça é R$583.26
valor total de vendas do Produto: Calça é R$1193.44
valor total de vendas do Produto: Jaqueta é R$3979.8
valor total de vendas do Produto: Tênis é R$34.77
valor total de vendas do Produto: Jaqueta é R$2368.17
valor total de vendas do Produto: Boné é R$337.77
valor total de vendas do Produto: Tênis é R$252.96
valor total de vendas do Produto: Camiseta é R$643.95
valor total de vendas do Produto: Tênis é R$1248.39
valor total de vendas do Produto: Tênis é R$523.3199999999999
------------------------------
Ano - 2019
valor total de vendas do Produto: Jaqueta é R$325.02
valor total de vendas do Produto: Boné é R$651.2
valor total de vendas do Produto: Calça é R$534.24
valor total de vendas do Produto: Jaqueta é R$3371.69
valor total de vendas do Produto: Camiseta é R$1452.96
valor total de vendas do Produto: Tênis é R$1932.58
valor total de vendas do Produto: Tênis é R$530.8199999999999
valor total de vendas do Produto: Boné é R$798.4000000000001
valor total de vendas do Produto: Calça é R$2988.96
valor total de vendas do Produto: Camiseta é R$2200.8
valor total de vendas do Produto: Camiseta é R$1545.08
valor total de vendas do Produto: Tênis é R$2546.6000000000004
valor total de vendas do Produto: Calça é R$4219.39
valor total de vendas do Produto: Camiseta é R$333.5
valor total de vendas do Produto: Jaqueta é R$2582.18
valor total de vendas do Produto: Jaqueta é R$3924.0600000000004
valor total de vendas do Produto: Tênis é R$1145.17
valor total de vendas do Produto: Camiseta é R$261.12
valor total de vendas do Produto: Calça é R$34.410000000000004
------------------------------
Ano - 2020
valor total de vendas do Produto: Camiseta é R$1210.49
valor total de vendas do Produto: Camiseta é R$1715.8
valor total de vendas do Produto: Camiseta é R$3781.83
valor total de vendas do Produto: Tênis é R$1626.57
valor total de vendas do Produto: Jaqueta é R$1450.08
valor total de vendas do Produto: Camiseta é R$1377.6000000000001
valor total de vendas do Produto: Boné é R$1188.66
valor total de vendas do Produto: Boné é R$1553.0
valor total de vendas do Produto: Tênis é R$968.6199999999999
valor total de vendas do Produto: Calça é R$956.55
valor total de vendas do Produto: Tênis é R$1394.68
valor total de vendas do Produto: Tênis é R$186.9
valor total de vendas do Produto: Boné é R$560.07
valor total de vendas do Produto: Camiseta é R$2444.98
valor total de vendas do Produto: Jaqueta é R$1761.2
valor total de vendas do Produto: Camiseta é R$2551.2
valor total de vendas do Produto: Camiseta é R$626.8
valor total de vendas do Produto: Boné é R$157.84
valor total de vendas do Produto: Tênis é R$611.0300000000001
------------------------------
Ano - 2021
valor total de vendas do Produto: Jaqueta é R$3705.3900000000003
valor total de vendas do Produto: Camiseta é R$1120.77
valor total de vendas do Produto: Boné é R$1291.84
valor total de vendas do Produto: Camiseta é R$819.6
valor total de vendas do Produto: Calça é R$95.94
valor total de vendas do Produto: Tênis é R$3747.7799999999997
valor total de vendas do Produto: Camiseta é R$1517.67
valor total de vendas do Produto: Tênis é R$1658.22
valor total de vendas do Produto: Tênis é R$78.39
valor total de vendas do Produto: Calça é R$414.57000000000005
valor total de vendas do Produto: Tênis é R$462.84000000000003
valor total de vendas do Produto: Boné é R$1323.9
valor total de vendas do Produto: Camiseta é R$1289.92
valor total de vendas do Produto: Tênis é R$406.0
valor total de vendas do Produto: Calça é R$175.74
valor total de vendas do Produto: Jaqueta é R$417.3
------------------------------
Ano - 2022
valor total de vendas do Produto: Tênis é R$967.3399999999999
valor total de vendas do Produto: Boné é R$333.62
valor total de vendas do Produto: Tênis é R$3677.1
valor total de vendas do Produto: Boné é R$2112.96
valor total de vendas do Produto: Boné é R$671.1
valor total de vendas do Produto: Calça é R$964.99
valor total de vendas do Produto: Boné é R$922.6800000000001
valor total de vendas do Produto: Jaqueta é R$341.0
valor total de vendas do Produto: Jaqueta é R$1492.03
valor total de vendas do Produto: Tênis é R$904.54
valor total de vendas do Produto: Jaqueta é R$417.0
valor total de vendas do Produto: Boné é R$294.88
valor total de vendas do Produto: Boné é R$4252.6
valor total de vendas do Produto: Camiseta é R$1262.24
valor total de vendas do Produto: Camiseta é R$324.53
------------------------------
Ano - 2023
valor total de vendas do Produto: Tênis é R$466.90000000000003
valor total de vendas do Produto: Tênis é R$203.19
valor total de vendas do Produto: Camiseta é R$820.35
valor total de vendas do Produto: Calça é R$78.25
valor total de vendas do Produto: Jaqueta é R$3628.45
valor total de vendas do Produto: Calça é R$1760.95
valor total de vendas do Produto: Jaqueta é R$1288.56
valor total de vendas do Produto: Tênis é R$806.52
valor total de vendas do Produto: Calça é R$220.88
valor total de vendas do Produto: Jaqueta é R$238.44
valor total de vendas do Produto: Calça é R$2033.3600000000001
valor total de vendas do Produto: Jaqueta é R$1999.8500000000001
valor total de vendas do Produto: Tênis é R$1440.55
valor total de vendas do Produto: Tênis é R$90.76
valor total de vendas do Produto: Camiseta é R$407.12
valor total de vendas do Produto: Calça é R$2898.0000000000005
valor total de vendas do Produto: Boné é R$1380.23
valor total de vendas do Produto: Jaqueta é R$1895.51
------------------------------

In [ ]:
  {
    "nome_produto": "T\u00eanis",
    "modelo": "Casual",
    "marca": "Marca C",
    "ano_fabricacao": 2022,
    "qtd_estoque": 67,
    "qtd_vendas": 22,
    "valor_produto": 43.97
  },

In [34]:
nome_produto = ''
maior_estoque = 0

for sales in dados:
    produto = sales["nome_produto"]
    qtd_estoque = sales["qtd_estoque"]
    
    if qtd_estoque > maior_estoque:
        nome_produto = produto
        maior_estoque = qtd_estoque
        
print(f'Produto com maior estoque - Produto:{produto} - Estoque: {maior_estoque}')

Produto com maior estoque - Produto:Jaqueta - Estoque: 200

In [36]:
nome_produto = ''
maior_venda = 0

for sales in dados:
    produto = sales["nome_produto"]
    qtd_vendas = sales["qtd_vendas"]
    
    if qtd_vendas > maior_venda:
        nome_produto = produto
        maior_venda = qtd_vendas
        
print(f'Produto mais vendido - Produto:{produto} - Vendas: {maior_venda}')

Produto mais vendido - Produto:Jaqueta - Vendas: 49

In [38]:
total_vendas  = 0
for sales in dados:
    qtd_vendas = sales["qtd_vendas"]
    total_vendas += qtd_vendas
        
print(f'Total de vendas é {total_vendas}')

Total de vendas é 2549